@media screen and (max-width: 700px){

    .first-section{
        padding: 30px  20px;
    }
    nav ul{
        gap: 0.7rem;
    }

    .logo{
        width: 100px;
    }
.intro{
    width: 400px;
    margin: 100px auto 100px auto;
}

.second-section{
    background-image: none;
    margin-top: 0;
}

.sec-cont{
    padding: 0;
}

.sec-cont h1{
    padding: 0 35px 0 35px;
    font-size: 20px;
    line-height: 1.3em;
    /* width: 100%; */
}

.sec-cont p{
    padding: 0 30px 0 30px;
    font-size: 13px;
}

.get-started{
    padding: 15px 75px;
}

.anywhere, .security{
    margin: 100px 0 50px 0;
}
.anywhere p{
    font-size: 13px;
    padding:0 20px 0 20px;
}

.security p{
    font-size: 13px;
    padding: 0 10px 0 10px;
}

.sec-cont1{
    display: block;
}

.sec-cont2{
    display: block;
}

.collaboration p{
    font-size: 13px;
    padding: 0 20px 0 20px;
}

.store p{
    font-size: 13px;
    padding: 0 20px 0 20px;
}

.productive{
    display: block;
}

.productive img{
    width: 400px;
    margin-bottom: 50px;
}

.prod-cont h1{
    font-size: 20px;
    width: 100%;
}

.prod-cont p{
    font-size: 13px;
    /* padding: 0 20px 0 0; */
    width: 75%;
}

.prod-cont a{
    font-size: 13px;
}

.testimonial{
    display: block;
    margin: 0;
}

.test1, .test2, .test3{
    width: 350px;
    height: 150px;

}

.test1-cont , .test2-cont , .test3-cont {
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 20px;
}

.test1-cont p, .test2-cont p, .test3-cont p {
    font-size: 12px;
    margin-bottom: 10px;
}

.test1-contb h3, .test2-contb h3, .test3-contb h3 {
    font-size: 14px;
}

.test1-contb h4, .test2-contb h4, .test3-contb h4{
    font-size: 10px;

}
.early2{
    width: 500px;
    height: 500px;
}

.early2 h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.early2 p {
    font-size: 13px;
    padding: 0 55px 0 55px;
}

.email-container input[type="email"]{
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
}

.email-container button{
    margin-left: 0;
    padding: 17px 90px;
    font-size: 12px;
}

.foot-contb{
    display: block;
}

}