@media screen and (max-width: 700px){

    html, body{
        overflow-x: hidden;
    }

    .first-section{
        padding: 30px  20px;
    }
    nav ul{
        gap: 0.7rem;
    }

    .logo{
        width: 100px;
    }
.intro{
    width: 400px;
    margin: 100px auto 100px auto;
}

.second-section{
    background-image: none;
    margin-top: 0;
}

.sec-cont{
    padding: 0;
}

.sec-cont h1 br{
    display: none;
}

.sec-cont h1{
    padding: 0 15px 0 10px;
    font-size: 20px;
    line-height: 1.3em;
}


.sec-cont p{
    padding: 0 35px 0 35px;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
}

.sec-cont p br{
    display: none;
}

.get-started{
    padding: 15px 75px;
    margin-bottom: 50px;
}

.anywhere, .security{
    margin: 50px 0 50px 0;
}

.anywhere p br{
    display: none;
}
.anywhere p{
    font-size: 13px;
    padding:0 27px 0 27px;
    font-weight: 600;
    width: 100%;
}

.security p br{
    display: none;
}

.security p{
    font-size: 13px;
    padding: 0 20px 0 20px;
    font-weight: 600;
    width: 100%;
}

.sec-cont1{
    /* display: block; */
    flex-direction: column;
}

.sec-cont2{
    /* display: block; */
    flex-direction: column;
}

.collaboration p br{
    display: none;
}

.collaboration p{
    font-size: 13px;
    padding: 0 22px 0 22px;
    font-weight: 600;
}
.store p br{
    display: none;
}

.store p{
    font-size: 13px;
    padding: 0 20px 0 20px;
    font-weight: 600;
}

.productive{
    /* display: block; */
    flex-direction: column;
}

.productive img{
    width: 350px;
    margin-bottom: 50px;
}

.prod-cont h1{
    font-size: 18px;
    width: 100%;
    padding: 0 15px 0 15px;
}

.prod-cont h1 br{
    display: none;
}

.prod-cont p br{
    display: none;
}

.prod-cont p{
    font-size: 13px;
    padding: 0 15px 0 15px;
    /* margin: 0 auto; */
    width: 100%;
    font-weight: 600;
}

.prod-cont a{
    font-size: 13px;
    font-weight: 600;
    padding: 0 15px 0 15px;
}

.testimonial{
    /* display: block; */
    /* margin: 0 auto; */
    flex-direction: column;
}

.test1, .test2, .test3{
    width: 350px;
    height: 150px;
    margin-bottom: 20px;

}

.test1-cont , .test2-cont , .test3-cont {
    margin-left: 20px;
    margin-top: 20px;
}

.test1-cont p, .test2-cont p, .test3-cont p {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 600;
}

.test1-contb h3, .test2-contb h3, .test3-contb h3 {
    font-size: 14px;
}

.test1-contb h4, .test2-contb h4, .test3-contb h4{
    font-size: 10px;

}
.early2{
    width: 350px;
    height: 350px;
}

.early2 h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.early2 p br{
    display: none;
}

.early2 p {
    font-size: 13px;
    padding: 0 37px 0 37px;
    font-weight: 600;
}

.email-container input[type="email"]{
    width: 250px;
    height: 35px;
    margin-bottom: 20px;
}

.email-container button{
    margin-left: 0;
    padding: 10px 70px;
    font-size: 12px;
}

.please{
    display: none;
    
}

.footer{
    /* width: 200%; */
    height: 1000px;
}

.foot-cont{
    margin-left: 20px;
}
.foot-cont .foot-logo{
    margin: 0 0 50px 0;
}

.foot-contb{
    /* display: block; */
    flex-direction: column;
}

.footer1 p{
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 600;
}

.footer2 p{
    font-size: 12px;
    /* margin-bottom: 30px; */
    font-weight: 600;
}

.footer2 .exfy{
    margin-bottom: 60px;
}

.footer2 img{
    width: 15px;
}

.footer4 ul li a, .footer3 ul li a {
    font-size: 12px;
    font-weight: 600;
}

.footer3, .footer4{
    margin-bottom: 30px;
}

.footer5{
    margin: 0 auto;
}

}