
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

  
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
:root{
    --white: hsl(0, 0%, 100%);
    --Dark--Blue--intro--email: hsl(217, 28%, 15%);
    --Dark--Blue--main--background: hsl(217, 28%, 15%);
    --Dark--Blue--Footer: hsl(216, 53%, 9%);
    --Dark--Blue--Testimonial: hsl(219, 30%, 18%);
    --Cyan--gradient: hsl(176, 68%, 64%);
    --Blue--gradient : hsl(198, 60%, 50%);
    --Light--red--error: hsl(0, 100%, 63%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Dark--Blue--main--background);
}


.first-section{
    width: 100%;
    height: 100%;
    padding: 100px 70px 0 70px;
    align-items: center;
    justify-content: center;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 5rem;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #fff;
}

.intro{
    margin-left: 700px;
    margin-top: 200px;
}

.second-section{
    background-image: url(./assets/bg-curvy-desktop.svg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    
}

.sec-cont{
    text-align: center;
    padding-top: 150px;
}

.sec-cont h1{
    font-size: 60px;
    line-height: 1.5em;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    color: hsl(0, 0%, 100%);
}

.sec-cont p{
    font-size: 30px;
    margin-bottom: 40px;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.get-started{
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: hsl(0, 0%, 100%);
    border-radius: 30px;
    padding: 20px 100px;
    font-size: 18px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.get-started:hover{
    background: hsl(176, 68%, 64%) ;
    color: #fff;
}

.sec-cont1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.anywhere, .security{
    margin: 200px 0 100px 0;
}

.anywhere h3, .security h3{
    font-family: 'Raleway', sans-serif;
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
}

.anywhere p, .security p{
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
}

.sec-cont2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

.collaboration h3, .store h3{
    font-family: 'Raleway', sans-serif;
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
}

.collaboration p, .store p{
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 100px;
}

.collaboration img, .store img, .anywhere img, .security img{
    margin-bottom: 25px;
}

.productive{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}

.productive img{
    width: 800px;
}

.prod-cont h1{
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
}

.prod-cont p{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
    font-size: 20px;
    color: hsl(0, 0%, 100%);
}

.arrow{
    width: auto;
    height: auto;
}


.prod-cont a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.prod-cont a:hover{
    text-decoration: underline;
}

.testimonial{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.test1{
    width: 570px;
    height: 300px;
    background-color: hsl(219, 30%, 18%) ;
    border-radius: 10px;
}

.test1-cont, .test2-cont, .test3-cont {
    margin-left: 50px;
    margin-top: 70px;
}

.test1-cont img, .test2-cont img, .test3-cont img{
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.test1-cont p, .test2-cont p, .test3-cont p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: var(--white);
    font-size: 18px;
    margin-bottom: 50px;
}

.test1-contb, .test2-contb, .test3-contb{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.test1-contb h3, .test2-contb h3, .test3-contb h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: var(--white);
}

.test1-contb h4, .test2-contb h4, .test3-contb h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: var(--white);
}

.test2{
    width: 570px;
    height: 300px;
    background-color: hsl(219, 30%, 18%) ;
    border-radius: 10px;
}

.test3{
    width: 570px;
    height: 300px;
    background-color: hsl(219, 30%, 18%) ;
    border-radius: 10px;
    
}

.early{
    display: flex;
    justify-content: center;
    align-items: center;
}

.early2{
width: 1200px;
height: 350px;
background-color: var(--Dark--Blue--intro--email);
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
text-align: center;
transform: translateY(200px);
z-index: 1;


}

.early2 h2{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: var(--white);
    margin-bottom: 30px;
    margin-top: 50px;
}

.early2 p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; 
    color: var(--white); 
    margin-bottom: 50px; 
}

.email-container input[type="email"]{
        padding: 10px;
        border-radius: 50px;
        width: 700px;
        height: 70px;
        border: none;
}

.email-container button{
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: hsl(0, 0%, 100%);
    border-radius: 30px;
    padding: 20px 50px;
    font-size: 18px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    margin-left: 30px;
}

.for-free:hover{
    background: hsl(176, 68%, 64%) ;
    color: #fff;
}

.please{
    margin-left: -700px;
    
}

.email-container p{
    color: var(--Light--red--error);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.footer{
    width: 100%;
    height: 800px;
    background-color: var(--Dark--Blue--Footer);
    padding-top: 300px;
    /* align-items: center; */
    /* justify-content: center; */
}

.foot-cont .foot-logo{
    margin-bottom: 80px;
}

.foot-contb{
    display: flex;
    justify-content: space-evenly;
}

.footer1 {
    display: flex;
    align-items: center;
}

.footer2 {
    display: flex;
    align-items: center;
}





